{% extends "base.html" %}
{% block title %}My Portfolio | Home{% endblock %}

{% block content %}
<!-- Hero header section -->
<header class="text-center bg-secondary text-white p-5">
  <h1> Aashima Chitkara</h1>
  <p class="lead">Economics Master's Student | Data Analyst | Research Enthusiast | Public Policy</p>
</header>

<!-- About Section -->
<section id="about" class="container my-5">
  <h2>About Me</h2>
  <p>
    Hello! I'm Aashima Chitkara,Master’s in Economics student at Ashoka University with experience in policy analysis, impact evaluation, and data analytics. Proficient in Python, Ms Excel and MATLAB, I enjoy applying quantitative methods to solve real-world economic challenges, particularly in urban development, financial inclusion, and public policy.
  </p>
</section>

<!-- Experience Section -->
<section id="experience" class="container my-5">
    <h2>Experience</h2>
    <div class="row">
      {% for exp in experiences %}
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card h-100 shadow-sm">
          <div class="card-body">
            <h5 class="card-title">{{ exp.title }}</h5>
            <!-- Initially hidden description -->
            <p class="card-text description">{{ exp.desc }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
  
  <!-- Projects Section -->
  <section id="projects" class="container my-5">
    <h2>Projects</h2>
    <div class="row">
      {% for proj in projects %}
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card h-100 shadow-sm" >
          <div class="card-body">
            <h5 class="card-title">{{ proj.title }}</h5>
            <!-- Initially hidden description -->
            <p class="card-text description">{{ proj.desc }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
  
<!-- Contact Section -->
<section id="contact" class="container my-5">
  <h2>Contact Me</h2>
  <form action="{{ url_for('contact') }}" method="POST" class="mb-3">
    <div class="mb-3">
      <input type="text" name="name" class="form-control" placeholder="Your Name" />
    </div>
    <div class="mb-3">
      <input type="email" name="email" class="form-control" placeholder="Your Email" />
    </div>
    <div class="mb-3">
      <textarea name="message" class="form-control" placeholder="Your Message"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Send</button>
  </form>
  <p>Email: <a href="mailto:aashimachitkara@gmail.com">aashimachitkara@gmail.com</a></p>
</section>
{% endblock %}
